@import "./assets/fonts/stylesheet.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .font-salsa {
    font-family: Salsa;
  }

  .font-roboto {
    font-family: Roboto;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto relative h-screen;
  }

  .heading {
    @apply font-salsa text-5xl py-10 text-center dark:text-gray-100;
  }

  .sub-heading {
    @apply font-salsa pb-2 text-xl dark:text-gray-100 ;
  }

  .view-box {
    @apply w-full h-96 ring-2 ring-gray-900 dark:ring-gray-100 rounded-lg drop-shadow-md;
  }

  .add-icon {
    @apply w-full flex flex-col justify-center items-center;
  }

  .item {
    @apply relative mx-3 my-3 py-3 px-3 rounded ring-2  ring-gray-900 dark:ring-gray-100 flex items-center bg-gray-200 dark:bg-gray-700;
  }

  .item-input {
    @apply pl-2 w-full text-2xl bg-transparent focus:outline-none dark:text-gray-100;
  }
}

/* Extra styles */

/* scrollbar width */
.view-box::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

/* Scrollbar Track */
.view-box::-webkit-scrollbar-track {
  border-radius: 100vh;
  /* background: #edf2f7; */
}

/* Scrollbar Handle */
.view-box::-webkit-scrollbar-thumb {
  background: #111827;
  border-radius: 10px;
  border: 2.5px solid #E9E9E9
}

/* Scrollbar Handle on hover */
.view-box::-webkit-scrollbar-thumb:hover {
  background: #a0aec0;
}